/*************  */
/* setup */
/* *************** */
:root {
  /* spacing vars */
  --spacing-1: 0.2rem;
  --spacing-2: 0.4rem;
  --spacing-3: 0.8rem;
  --spacing-4: 1.2rem;
  --spacing-5: 1.6rem;
  --spacing-6: 2.4rem;
  --spacing-7: 3.2rem;
  --spacing-8: 4rem;
  --spacing-9: 4.8rem;
  --spacing-10: 6.4rem;
  --spacing-margin-s: 8rem;
  --spacing-margin: 9.6rem;
  --spacing-margin-l: 16rem;

  /* color vars */
  --dark-grey: #212529;
  --grey: #343a40;
  --light-gray: #495057;
  --main: #1c7ed6;
  --main-shade: #1864ab;
  --main-tint: #339af0;
  --background-highlight: #f1f3f5;

  /* font size */
  --size-1: 0.819rem;
  --size-2: 1.024rem;
  --size-3: 1.28rem;
  --size-4: 1.6rem;
  --size-small-text: 2rem;
  --size-standard: 2.5rem;
  --size-large-text: 3.125rem;
  --size-8: 3.906rem;
  --size-9: 4.883rem;
  --size-h2-header: 6.104rem;
  --size-h1-header: 7.629rem;
  --size-12-header-large: 9.537rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--grey);
  font-size: var(--size-standard);
}

.main-container {
  height: 100vh;
  margin: auto;
  border-radius: 11px;
}

.grid {
  display: grid;
}
.grid-main-config {
  grid-template-columns: auto 4fr 1fr;
  grid-template-rows: auto 1fr;
}
/* ********** */
/* Spinner */
/* ********* */
#spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: spinner 0.8s ease-in-out infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* ********* */
/* SearchBarr */
/* ******* */

.search {
  display: flex;
  align-items: center;
  grid-column: 2/-1;
  grid-row: 1/2;
  background-color: var(--grey);
  padding: var(--spacing-4);
}
.search input[type="text"] {
  font-family: inherit;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.btn {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--main);
}

.btn-search {
  font-family: inherit;
  padding: var(--spacing-4) var(--spacing-6);
  font-size: var(--size-4);
  border-radius: 0 5px 5px 0;
}

/* ********* */
/* side bar */
/* ******* */

.sidebar {
  background-color: var(--dark-grey);
  grid-row: 1/-1;
  padding: var(--spacing-8) var(--spacing-2);
}
.sidebar-wrapper {
  background-color: #212529;
  border-radius: 11px;
  display: flex;
  justify-content: top;
  flex-direction: column;
}

.sidebar button {
  background-color: #212529;
  margin: var(--spacing-6) 0;
  border-radius: 50%;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: var(--main);
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-main {
  height: var(--size-8);
  width: var(--size-8);
  border-radius: 50%;
  stroke-width: 1;
  color: #fff;
}
/* **************** */
/* Movie container  */
/* **************** */

.grid-movie-container-config {
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 19fr;
}

/* *********** */
/* controls */
/* ********* */
.controls {
  background-color: var(--light-gray);
}

.dropdown-button {
  font-family: inherit;
  padding: var(--spacing-4) var(--spacing-6);
  font-size: var(--size-4);
}

.dropdown-button:focus-visible {
  outline: none;
}

/* ********** */
/* table */
/* *********** */

.movie-list {
  grid-column: 1/-1;
  background-color: var(--dark-grey);
}

.table-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 85vh;
  margin: var(--spacing-6);
}

.table-header {
  background-color: #f5f5f5;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: var(--spacing-4);
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--grey);
  color: white;
}

/* ************* */
/* Table elements */
/*  *************/

.table-row:hover {
  transform: translateY(-0.2rem);
  box-shadow: rgba(214, 228, 241, 0.2) 0px 8px 24px;
}

/* ************* */
/* Movie detail container */
/* *************** */

.movie-description-container {
  background-color: var(--grey);
}

.description-card {
  margin: var(--spacing-10) var(--spacing-6);
  border-radius: 12px;
  overflow: hidden;

  background-color: var(--background-highlight);
}

.description-card img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-features {
  display: grid;
  margin-top: var(--spacing-6);
  grid-template-columns: 6fr 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: var(--spacing-4);
}

.plot {
  font-size: var(--size-4);
  grid-column: 1/-1;
  padding: var(--spacing-4);
}

.bookmark-description {
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.genre-list-description {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  font-size: var(--size-4);
  padding: var(--spacing-4);
}
